@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

//!! Font
$family-sans-serif: "Roboto", sans-serif;

//!! Brand colors
$primary: #72CCB3;
$black: #6E807A;
$link: #478070;
$info: #8FFFDF;
$white: #DBFFF5;
$text: #478070;
$danger: rgb(247, 114, 114);

//!! Components
$input-background-color: white;
$notification-radius: 25px;

//!! Import specific bulma libraries or all [default]
@import '../../../node_modules/bulma/bulma.sass';